# .coveragerc to control coverage.py
[run]
concurrency = multiprocessing
parallel = True
source = VENV/lib/python3.7/site-packages/radical/entk

# $ coverage run -m pytest -vvv test_*
# $ coverage combine
# $ coverage html
