# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ devel ]
  pull_request:
    branches: [ devel ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      rabbitmq:
        image: rabbitmq
        ports:
        # will assign a random free host port
        - 5672/tcp
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m venv testenv
        . testenv/bin/activate
        python -m pip install --upgrade pip
        pip install . --upgrade
        pip install psutil
        pip install hypothesis
        pip install coverage
        pip install codecov
        pip install pytest
        pip install pytest-xdist
        pip install pytest-timeout
        pip install timeout-decorator
    - name: Test with pytest
      env:
        RMQ_HOSTNAME: localhost
        RMQ_PORT: ${{ job.services.rabbitmq.ports[5672] }} # get randomly assigned published port
        RMQ_USERNAME: guest
        RMQ_PASSWORD: guest
        LOC: /home/runner/work/radical.entk/radical.entk/testenv/lib/python3.6/site-packages
        PYTHONPATH: /home/runner/work/radical.entk/radical.entk/testenv/lib/python3.6/site-packages
      run: |
        . testenv/bin/activate
        coverage run --include=/home/runner/work/radical.entk/radical.entk/testenv/lib/python3.6/site-packages/radical/entk/* -m pytest -ra --timeout=600 -vvv --showlocals tests/test_component tests/test_utils/ tests/test_integration
        coverage report
    - name: Codecov
      uses: codecov/codecov-action@v1.2.2


  flake8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m venv testenv
        . testenv/bin/activate
        python -m pip install --upgrade pip
        pip install . --upgrade
        pip install flake8
        pip install flake8-per-file-ignores
    - name: Lint with flake8
      run: |
        . testenv/bin/activate
        LOG=`git log -n 1 | grep Merge`
        NEW=`echo $LOG | cut -d ' ' -f2`
        OLD=`echo $LOG | cut -d ' ' -f3`
        DIFF=`git diff  --name-only --diff-filter=db $NEW..$OLD`
        DIFF=$(echo $DIFF | grep -o -e '\b[^ ]*.py\b' | sed "s|^|$PWD/|")
        test -z "$DIFF" && echo 'nothing to flake8' || flake8 $DIFF

  pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m venv testenv
        . testenv/bin/activate
        python -m pip install --upgrade pip
        pip install . --upgrade
        pip install psutil
        pip install hypothesis
        pip install coverage
        pip install codecov
        pip install pytest
        pip install pytest-xdist
        pip install pytest-timeout
        pip install timeout_decorator
        pip install pylint
    - name: Lint with pylint
      run: |
        . testenv/bin/activate
        LOG=`git log -n 1 | grep Merge`
        NEW=`echo $LOG | cut -d ' ' -f2`
        OLD=`echo $LOG | cut -d ' ' -f3`
        DIFF=`git diff  --name-only --diff-filter=db $NEW..$OLD`
        DIFF=$(echo $DIFF | grep -o -e '\b[^ ]*.py\b' | sed "s|^|$PWD/|")
        test -z "$DIFF" && echo 'nothing to pylint' || pylint $DIFF
